html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-image: url(./portbg8.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 90px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 10px
  }



  #headshot {
      border-radius: 50%;
      width:  300px;
      height: 300px;

  }

  #navbarheader {
      color: #fff;
      font-size: 25px;
      
    
  
  
  }
#navbar1 {
    background-color: #6c757d;
}

#navbarsExample07 {
    background-color: #6c757d;
}
#navbar2 {
    background-color: #6c757d;
}

/* h1 { 
    color: white;
} */

.social {
    margin-top: 350px;
}

.footer {
    background-color: #6c757d;
}



.movie-grid {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    margin: auto;
    /* flex-wrap: wrap; */
    margin: 40px;
    /* margin-bottom: 20px; */
}

h1, h2 {
    color: white;
    font-family: 'Carter One'
}

p {
    color: black;
}

.page-headers {
    text-align: center;
    font-family: 'Carter One'
}


#bio {
    color: white;
    font-size: 18px;
}


div[class^="devicon"] {
	display: block;
	color: white;
	font-size: 80px;
    margin:  2vh auto 2vh auto;
	text-align: center;
}

div[class^="devicon"] span{
	font-family: Raleway, sans-serif;
	font-weight: 600;
	margin-top: 10px;
	font-size: 16px;
	display:block;
}




